.vs/jmFidExt/v15/.suo
.vs/jmFidExt/v15/Server/sqlite3/db.lock
.vs/jmFidExt/v15/Server/sqlite3/storage.ide
bin/Debug/Telerik.Analytics.dll
bin/Debug/Analytics.dll
bin/Debug/Fiddler.exe
bin/Debug/GA.Analytics.Monitor.dll
bin/Debug/Xceed.Compression.Formats.v5.4.dll
bin/Debug/Xceed.Compression.v5.4.dll
bin/Debug/Xceed.FileSystem.v5.4.dll
bin/Debug/Xceed.Zip.v5.4.dll
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
bin/Debug/jmFidExt.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/jmFidExt.dll
obj/Debug/jmFidExt.pdb
obj/Debug/jmFidExt.RegControl.resources
obj/Debug/jmFidExt.csproj.CopyComplete
obj/Debug/jmFidExt.csproj.CoreCompileInputs.cache
obj/Debug/jmFidExt.csproj.FileListAbsolute.txt
obj/Debug/jmFidExt.csproj.GenerateResource.cache
obj/Debug/jmFidExt.csprojResolveAssemblyReference.cache
obj/Debug/jmFidExt.frmGroupName.resources
src/bin
src/obj
bin/Analytics.dll
bin/Xceed.Compression.Formats.v5.4.dll
bin/GA.Analytics.Monitor.dll
bin/Telerik.Analytics.dll
bin/Xceed.Compression.v5.4.dll
bin/Xceed.FileSystem.v5.4.dll
bin/Xceed.Zip.v5.4.dll
bin/Fiddler.exe
